<div>
    <section id="main">
        <div class="header">
            <img src="../../../assets/img/banner.png" alt="" class="banner">
            <img src="../../../assets/img/chudik.png" alt="" class="chudik">
            <img src="../../../assets/img/circle.png" alt="" class="circle">
            <div class="container">
                <div class="header__wrapper">
                    <div class="header__nav">
                        <div class="header__nav-logo">
                            <img src="../../../assets/img/logo.svg" alt="">
                        </div>
                        <div class="header__nav-links">
                            <a href="#main" class="header__nav-link">Главная</a>
                            <a href="#info" class="header__nav-link">Почему именно мы?</a>
                            <a href="#contacts" class="header__nav-link">Контакты</a>
                        </div>
                        <a href="#register"><button class="header__nav-btn">Заказать</button></a>
                    </div>
                    <div class="header__desc">
                        <h1 class="header__desc-h1">РАЗРАБОТКА САЙТОВ</h1>
                        <h2 class="header__desc-h2">ДЛЯ ТВОЕГО БИЗНЕСА</h2>
                        <p class="header__desc-p">Мы - студия web-разработки, работаем уже более 3-х <br> лет, готовы
                            разработать для вас сайт в кротчайшие <br> сроки.</p>
                        <div class="header__desc-more">
                            <a href="#tariff"><button class="header__desc-more_btn">Подробнее<img
                                        src="../../../assets/img/arrow1.png" class="arrow" alt=""></button></a>
                            <a href="#contacts">
                                <p class="header__desc-more-p">Остались вопросы?</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line"></div>
        </div>
    </section>
        <section id="info">
            <img src="../../../assets/img/bg.jpg" alt="" class="bg">
            <div class="container">
                <div class="info__wrapper">
                    <div class="info__top">
                        <div class="info__top-desc">
                            <h2 class="info__top-desc-h">Причины сотрудничать <br> с нами</h2>
                            <p class="info__top-desc-p1">Пока конкуренты говорят о том, что они лучшие - мы это
                                доказываем <br> делом.</p>
                            <p class="info__top-desc-p2">Вы можете ознакомиться с информацией о нас и посмотреть наше
                                <br> портфолио</p>
                            <!-- <button class="info__top-desc-btn">Портфолио</button> -->
                            <!-- <div class="rectangle"></div> -->
                        </div>
                        <div class="info__top-element">
                            <h2 class="info__top-element-h">Приемлимые <br>цены</h2>
                            <p class="info__top-element-p">Мы максимально оптимизируем<br> наш труд, для того, чтобы
                                цены<br> были доступными</p>
                            <img src="../../../assets/img/money.svg" class="info__top-element-img" alt="">
                        </div>
                    </div>
                    <div class="info__bottom">
                        <div class="info__bottom-elements">
                            <div class="info__bottom-element">
                                <h2 class="info__bottom-element-h">В сроки сдаем<br> работу!</h2>
                                <p class="info__bottom-element-p">Расписываем каждый этап по<br> срокам, и
                                    придерживаемся<br> дедлайнов</p>
                                <img src="../../../assets/img/time.svg" class="info__bottom-element-img1" alt="">
                            </div>
                            <div class="info__bottom-element">
                                <h2 class="info__bottom-element-h">Команда<br> специалистов</h2>
                                <p class="info__bottom-element-p">В нашей команде множество<br> специалистов, и каждый
                                    из них<br> хорошо знает своё дело</p>
                                <img src="../../../assets/img/man.svg" class="info__bottom-element-img2" alt="">
                            </div>
                            <div class="info__bottom-element">
                                <h2 class="info__bottom-element-h">Консультация<br> перед заказом</h2>
                                <p class="info__bottom-element-p">Наши менеджеры в сети 24/7,<br> и готовы помочь вам, а
                                    так же<br> ответить на ваши вопросы</p>
                                <img src="../../../assets/img/headphones.png" class="info__bottom-element-img3" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="tariff">
            <div class="container">
                <h2 class="tariff-h">Тарифы</h2>
                <div class="tariff__wrapper">
                    <div class="tariff__item1">
                        <h3 class="tariff__item1-h">Сайт “Визитка”</h3>
                        <p class="tariff__item1-p">Сайт-визитка - компактный веб-ресурс – отличный старт бизнеса в
                            интернете. Сайт-визитка содержит несколько страниц, в том числе – информацию о компании, её
                            товарах и услугах, прейскурант цен, контакты и координаты для связи.</p>
                        <div class="tariff__item1-price">
                            <div class="tariff__item1-price-desc">
                                <h3 class="tariff__item1-price-desc-h">От 30.000₽</h3>
                                <p class="tariff__item1-price-desc-p">От 5 дней</p>
                            </div>
                            <a href="#register"><button class="tariff__item1-price-btn">Заказать<img
                                        src="../../../assets/img/arrow1.png" alt=""></button></a>
                        </div>
                    </div>
                    <div class="tariff__item2">
                        <h3 class="tariff__item2-h">Сайт “Каталог”</h3>
                        <p class="tariff__item2-p">Сайт-каталог – это полноценный веб-ресурс, в котором потребители
                            могут ознакомиться с товарами или услугами компании. Являясь удобным инструментом продаж,
                            сайт-каталог может повысить доходность бизнеса и упростить задачу по предоставлению
                            ассортимента целевой аудитории.</p>
                        <div class="tariff__item2-price">
                            <div class="tariff__item2-price-desc">
                                <h3 class="tariff__item2-price-desc-h">От 60.000₽</h3>
                                <p class="tariff__item2-price-desc-p">От 15 дней</p>
                            </div>
                            <a href="#register">
                                <button class="tariff__item2-price-btn">Заказать<img
                                        src="../../../assets/img/arrow1.png" alt=""></button></a>
                        </div>
                    </div>
                    <div class="tariff__item3">
                        <h3 class="tariff__item3-h">Сайт “Интернет магизин”</h3>
                        <p class="tariff__item3-p">Сайт-визитка - компактный веб-ресурс – отличный старт бизнеса в
                            интернете. Сайт-визитка содержит несколько страниц, в том числе – информацию о компании, её
                            товарах и услугах, прейскурант цен, контакты и координаты для связи.</p>
                        <div class="tariff__item3-price">
                            <div class="tariff__item3-price-desc">
                                <h3 class="tariff__item3-price-desc-h">От 75.000₽</h3>
                                <p class="tariff__item3-price-desc-p">От 5 дней</p>
                            </div>
                            <a href="#register"><button class="tariff__item3-price-btn">Заказать<img
                                        src="../../../assets/img/arrow1.png" alt=""></button></a>
                        </div>
                    </div>
                    <div class="tariff__item4">
                        <h3 class="tariff__item4-h">Сайт “Landing page”</h3>
                        <p class="tariff__item4-p">Одностраничный сайт (Landing Page) – так называют промо-сайты для
                            презентации товара, услуги и организации мгновенных продаж. Мы умеем создавать веб-ресурсы,
                            полностью готовые к наплыву лавины посетителей. Одна-единственная страница принесёт
                            колоссальную прибыль: иначе и быть не может.

                        </p>
                        <div class="tariff__item4-price">
                            <div class="tariff__item4-price-desc">
                                <h3 class="tariff__item4-price-desc-h">От 25.000₽</h3>
                                <p class="tariff__item4-price-desc-p">От 5 дней</p>
                            </div>
                            <a href="#register"><button class="tariff__item4-price-btn">Заказать<img
                                        src="../../../assets/img/arrow1.png" alt=""></button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <div name="register">
        <form [formGroup]="customerForm">
            <div class="register">
                <div class="container">
                    <div class="register__wrapper">
                        <div class="register__left">
                            <h2 class="register__left-h">Оставь заявку</h2>
                            <div class="register__left-forms">
                                <div class="register__left-form">
                                    <p class="register__left-form-p">Ваше ФИО</p>
                                    <input class="register__left-form-input" type="text" placeholder="Ваше ФИО"
                                        formControlName="FullName">
                                </div>
                                <div class="register__left-form">
                                    <p class="register__left-form-p">Ваш номер телефона</p>
                                    <input class="register__left-form-input" type="tel" placeholder="Ваш номер телефона"
                                        formControlName="PhoneNumber">
                                </div>
                                <div class="register__left-form">
                                    <p class="register__left-form-p">Бюджет на сайт</p>
                                    <input class="register__left-form-input" type="text" placeholder="Бюджет на сайт"
                                        formControlName="Budget">
                                </div>
                            </div>
                        </div>
                        <div class="register__right">
                            <div class="register__right-forms">
                                <div class="register__right-form">
                                    <p class="register__right-form-p">Ваш E-MAIL адрес</p>
                                    <input class="register__right-form-input" type="email"
                                        placeholder="Ваш E-MAIL адрес" formControlName="EMail">
                                </div>
                                <div class="register__right-form">
                                    <p class="register__right-form-p">Ваш комментарий ( по желанию )</p>
                                    <input class="register__right-form-input" type="text"
                                        placeholder="Ваш комментарий ( по желанию )" formControlName="Comment">
                                </div>
                                <div>
                                    <button (click)="post()" class="send">Отправить</button>
                                </div>
                                
                            </div>
                        </div>
                        <img src="../../../assets/img/iphone.png" class="iphone" alt="">
                        <div class="sms">
                            <img src="../../../assets/img/phone.svg" class="sms__img" alt="">
                            <div class="sms__desc">
                                <h4 class="sms__desc-h">Уведомление!</h4>
                                <p class="sms__desc-p">В скорейшем времени вам перезвонят</p>
                            </div>
                        </div>
                        <div class="sms2">
                            <img src="../../../assets/img/web.svg" class="sms2__img" alt="">
                            <div class="sms2__desc">
                                <h4 class="sms2__desc-h">Работа закончена!</h4>
                                <p class="sms2__desc-p">Мы закончили работу над вашим сайтом</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div name="contacts">
        <div class="contacts">
            <div class="container">
                <div class="contacts__wrapper">
                    <h2 class="contacts-h">Контакты</h2>
                    <img src="../../../assets/img/bigstar.svg" class="star1" alt="">
                    <img src="../../../assets/img/littlestar.svg" class="star2" alt="">
                    <img src="../../../assets/img/bigstar.svg" class="star3" alt="">
                    <img src="../../../assets/img/littlestar.svg" class="star4" alt="">
                    <div class="contacts__social">
                        <a href="#"><img src="../../../assets/img/social1.svg" class="contacts__social-img1" alt=""></a>
                        <a href="#"><img src="../../../assets/img/social2.svg" class="contacts__social-img2" alt=""></a>
                        <a href="#"><img src="../../../assets/img/social3.svg" class="contacts__social-img3" alt=""></a>
                        <a href="#"><img src="../../../assets/img/social4.svg" class="contacts__social-img4" alt=""></a>
                        <a href="#"><img src="../../../assets/img/social5.svg" class="contacts__social-img5" alt=""></a>
                    </div>
                    <div class="contacts__desc">
                        <p class="contacts__desc-p">Политика сайта и обработка персональных данных</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>